<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css'/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/zclip.js"></script>
    <style>
    img {
        margin:5px;
        border:2px solid black;
        vertical-align:middle;
        width:75px;
        height:75px;
      }
    </style>
  </head>
  <body>
    <div id="menu">
      {% for dir in dirs %}
        <h3>{{dir['name']}}</h3>
        <div>
          {% for gif in dir['gifs'] %}
            <img class="gif" src={{  "/" + gif }}/>
          {% end %}
        </div>
      {% end %}
    </div>
    <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>