<html>
  <head>
    <title>{{ title }}</title>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/zclip.js"></script>
    <style>
    img {
        margin:5px;
        border:2px solid black;
        vertical-align:middle;
        width:75px;
        height:75px;
      }
      div {
        float: left;
      }
    </style>
  </head>
  <body>
    <ul>
      {% for dir in dirs %}
        {% block dir %}
          <div class="gif"><img src={{  "/" + dir }}/></div>
        {% end %}
      {% end %}
    </ul>
    <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>